<%= image_tag @portfolio_items.main_image if !@portfolio_items.thumb_image.nil?%>

<h1> <%= @portfolio_items.title %> </h1>

<em> <%= @portfolio_items.subtitle %> </h1> </em>

<p> <%= @portfolio_items.body %> </h1> </p>

